<%- include('./partials/head.ejs', {title: 'TinyApp'}) %>
<%-include('./partials/header.ejs', {user: cookies['username']})%>

<form action="/register" method="POST">
  <div class="form-group">
    <input type="email" name="email" placeholder="email address" />
  </div>
  <div class="form-group">
    <input type="password" name="password" placeholder="set password" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary">Register</button>
  </div>
</form>

<%- include('./partials/footer.ejs') %>
